@import "src/variables.scss";
.about {
  background-color: $primary-color;
  z-index: 2;
  margin-top: -2em;

  &_title {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2em;
    padding: 2% 0% 0% 0%;
  }

  &_main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_description {
      border-radius: 10px;
      background-color: rgba(216, 190, 156, 0.5); /* Meilleur contraste */
      padding: 20px;
      margin: 20px;
    }

    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_text {
      margin: 20px;
      color: #333; /* Couleur de texte plus sombre pour un meilleur contraste */

      &_link {
        color: rgb(0, 112, 20); /* Couleur de lien avec meilleur contraste */
      }
    }

    &_button {
      width: 100%;
      background-color: rgb(
        210,
        180,
        140,
        0.3
      ); /* Meilleur contraste pour le bouton */
      border: 1px solid rgb(210, 180, 140, 0.5);
      border-radius: 5px;
      padding: 1% 0% 1% 0%;
      font-weight: bold;
    }
  }
}

.about_main {
  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}
