.about {
  padding: 50px;
  background-color: white;
  z-index: 2;
  margin-top: 0%;

  &_title {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &_main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_description {
      padding: 20px;
      margin: 20px;
    }

    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_text {
      margin: 20px;
    }
  }
}
