.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  position: relative;

  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  &_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
  }

  &_description {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
  }
}

.modal img {
  width: 100%; /* S'assure que l'image occupe toute la largeur disponible */
  height: auto; /* Conserve les proportions */
  max-height: 300px; /* Limite la hauteur maximale de l'image */
  object-fit: cover; /* Maintient les proportions de l'image */
}

.carousel .slide {
  max-height: 400px; /* Limite la taille des slides */
}
