.contact {
  &_title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  &_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }
}
