@import "src/variables.scss";

.skills {
  background-color: $primary-color;
  z-index: 3;

  &_title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  &_talent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }

  &_logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  }

  &_logo {
    height: 5em;
  }
}
