@import "src/variables.scss";

.skills {
  background-color: $primary-color;
  z-index: 3;

  &_title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  &_talent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;

    @media screen and (max-width: 960px) {
      grid-template-columns: 1fr;
    }
  }

  &_logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: auto;
    height: 20em;
    padding: 3% 0% 3% 10%;

    @media screen and (max-width: 960px) {
      grid-template-columns: 1fr 1fr;
      padding: 0% 0% 0% 20%;
    }
  }

  &_logo {
    height: 7em;
    margin: 0% 0% 0% 3%;

    @media screen and (max-width: 960px) {
      height: 5em;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}
