@import "src/variables.scss";

.header {
  grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &--hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &_title {
    height: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: rgb(210, 180, 140, 0.2);
  }

  &_link {
    list-style: none;
    color: $tertiary-color;
    font-size: 1.5em;
  }
}

.hamburger-menu {
  background-color: $quaternary-color;
  border-radius: 0px 0px 60px 0px;

  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1001;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &--hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.hamburger-button {
  color: $tertiary-color;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: -35%;
  margin-left: -15%;
}

.hamburger-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-link {
  padding: 1rem;
  background-color: rgb(210, 180, 140, 0.2);
}

.hamburger-link a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--quaternary-color);
}

@media (max-width: 920px) {
  .header {
    display: none; // Cache le header complet
  }

  .hamburger-menu {
    display: block; // Affiche le menu hamburger
  }
}
