@import "src/variables.scss";

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $quaternary-color;
  padding: 1em;
  margin: 0% 0% 1em 0%;

  &_button {
    border: none;
    background-color: $primary-color;
    box-shadow: #d09f5f 1px 5px 10px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 30px;
    margin: 0% 1em 0% 1em;

    cursor: pointer;
    &:hover {
      background-color: #d09f5f;
      transform: scale(1.05);
    }
  }
}

.filter_button.active {
  background-color: #d09f5f; // Couleur de fond pour le bouton sélectionné
  color: white; // Couleur du texte pour le bouton sélectionné
}
